/*Paul Irish Reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* https://coolors.co/52d6fa-408697-f6f6f6-8d8c8a-363538-a6a1a2 */

:root {
  --bkgd_main: #363538;
  --header: #408697;
  --text: #000000;
  --button: #FFB703;
  --country: #52d6fa;
  --city_bkgd: #929090;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: var(--bkgd_main);
    color: var(--text);
    padding: 50px;
}

ul {
    list-style: none;
}

button, input {
    border: none;
    outline: none;
    background: none;
}

input {
    font-size: 3rem;
    color: white;
    height: 50px;
    margin-top: 10px;
    padding: 10px 10px;
    width: 100%;
}

button {
    font-weight: bold;
    background-color: var(--button);
    cursor: pointer;
    height: 50px;
    padding: 10px 20px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
    width: 100%;
}

button:hover {
    background-color:#887d62;
}

.heading {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: var(--header);
    font-size: 5rem;
}

.form {
    display: flex;
    align-items: center;
}

.city {
    margin-top: 20px;
    padding: 20px 15px 20px 15px;
    text-transform: uppercase;
    text-align: center;
    list-style: none;
    font-size: 4rem;
    background-color: var(--city_bkgd);
    position: relative;
    border-radius: 20px;
}

.location-section figcaption {
    margin-top: 10px;
    margin-bottom: 5px;
    letter-spacing: .5rem;
}
  
.city-temp {
    font-size: 6rem;
    font-weight: bold;
    margin-top: 10px;
}
  
.city sup {
    font-size: 0.5em;
}
  
.city-name sup {
    padding: 5px;
    font-size: 2.5rem;
    border-radius: 15px;
    color: var(--text);
    background: var(--country);
}
  
.city-icon {
    width: 150px;
}

.msg {
    margin-top: 20px;
    font-size: 3rem;
    color: white;
    text-align: center;
}

@media screen and (min-width: 720px) {
    input {
        width: 400px;
        margin-top: 10px;
       }
   
    button {
        margin-top: 10px;
        width: 150px;
    }

    .heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cities {
        display: flex;
        margin: 20px 20px;
      }
       
       .city-temp {
           font-size: 3rem;
       }
     
       .msg {
         margin-top: 30px;
       }
   }

@media screen and (min-width: 1000px) {
    body {
        padding: 30px;
    }
    
    input {
        font-size: 3rem;
        color: white;
        height: 50px;
        margin-top: 10px;
        padding: 10px 20px;
    }
    
    button {
        font-weight: bold;
        background-color: var(--button);
        cursor: pointer;
        height: 50px;
        margin-left: 10px;
        padding: 10px 20px;
    }
    
    button:hover {
        background-color:#887d62;
    }
    
    .heading {
        margin-bottom: 30px;
        color: var(--header);
        font-size: 8rem;
    }
    
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    form .msg {
        max-width: 450px;
        min-height: 40px;
    }

    .cities {
        display: flex;
        margin: 20px 20px;
    }
    
    .city {
        border-radius: 20px;
        margin: 20px 20px;
    }
}